@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #ffffff;
    --foreground: #09090b;
    --accent: #d4af37;
    --secondary: #f4f4f5;
    --text-muted: #71717a;
    --hero-bg: #ffc107;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
.serif {
    font-family: 'Cormorant Garamond', serif;
}

.bg-glass {
    background: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.text-gradient {
    background: linear-gradient(to right, #ffc107, #ffcc33);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gold-gradient {
    background: linear-gradient(to right, #d4af37, #f4d03f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@layer utilities {
    .animate-reveal {
        animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    }

    .animate-hero-pulse {
        animation: blackDominantPulse 10s ease-in-out infinite alternate;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blackDominantPulse {
    0% {
        background-color: #343a40;
    }

    70% {
        background-color: #343a40;
    }

    85% {
        background-color: #ffffff;
    }

    100% {
        background-color: #ffffff;
    }
}